
[Unit]
Description=Shutdown button service
After=multi-user.target

[Service]
Type=idle
ExecStart={{ gpio_shutdown_install_dir }}/shutdown_button.py
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target